@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Display';
  src: url('/src/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/src/assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/src/assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
}


* {
  font-family: 'SF Pro Display', sans-serif !important;
  overflow-x: hidden;
}